/ex-stateful/service-shared-stateful/target/
/ex-stateful/service-core-stateful/target/
/ex-stateful/app-jsf-stateful/target/
/ex-stateful/app-servlet-stateful/target/
/ex-stateful/app-jse-stateful/target/
/ex-stateful/app-jse-stateful1/target/
/stateless01/service-core-stateless/target/
/stateless01/app-jse-stateless/target/
/stateless01/app-jsf-stateless/target/
/dac-ejb-stateless/app-jse-stateless/target/
/dac-ejb-stateless/app-jsf-stateless/target/
/dac-ejb-stateless/app-servlet-stateless/target/
/dac-ejb-stateless/service-core-stateless/target/
/dac-ejb-stateless/service-shared-stateless/target/
/exemplo-persistencia-jpa/target/
/persistencia-jpa/target/
/represen-relacionamento-ternario-jpa/target/
/mapeamento-ternario-jpa/target/
/dac-ejb-singleton/service-shared-singleton/target/
/dac-ejb-singleton/service-core-singleton/target/
/dac-ejb-singleton/app-jse-singleton/target/
/dac-ejb-singleton/app-servlet-singleton/target/
/dac-ejb-singleton/app-jsf-singleton/target/
/atividade-mapeamento-jpa/Atividade-Mapeamento-e-Relacionamento-de-Entidades/nbproject/private/
/exercicio-mapeamento-relacionamento-entidades-jpa/exercicio-mapeamento-jpa/target/
/exemplo-jms-topic/target/
/exemplo-jms-topic1/target/
/exemplo-jms-queue/target/
/atividade-avaliativa-03/atv-av-listatelefonica/target/